<section class="phx-hero">
  <h1>Ambush Chat!</h1>
  <p>Write something, maybe it will show up</p>
</section>

<.form let={f} for={:message} phx_submit="submit_message" class={"submit-form"}>
  <%= text_input f, :text %>
  <%= submit "Send" %>
</.form>

<div class="message-container" phx-update="prepend">
  <%= for message <- @messages do %>
    <div class="message-box" id={message.id} >
      <%= message.text %>
    </div>
  <% end %>
</div>
